/*
  background-image: url("https://unsplash.com/search/photos/hiking?photo=j2KI6FTc3jA");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 100vh;
}*/

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
}

a{
  color: #ffffff;
}
input[type="text"] {
    width: 200px;
    height: 64px;
    font-size: 30px;
}
img  {
    height: 85px;
    width: 85px;
}
.img{
  display: flex;
  align-items: center;
}

.borderBox {
  border: rgba(78, 76, 75, 0.9) solid 11px;
  width: 30%;
  margin: 0 auto;

}

.searchContainer {
  /*position: absolute;*/
  text-align: center;
  width: 100%;

  padding: 0;
  margin: 0;
}

.centerSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

}

.headerContainer {
  background-color: rgba(105, 160, 65, .5);
  height: 18%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  padding-left: 20px;
}
li {
  font-size: 35px;
  color: #ffffff;
  margin: 40px;

}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 50%;
}



body {
  background: url(tobias-cornille-142864.jpg) no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}


#map {
       height: 400px;
       width: 100%;

      }

button {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  color: #69a041;
  font-size: 38px;
  padding: 8px 21px 13px 21px;
  border: solid #f2b722 0px;
  text-decoration: none;
}

button:hover {
opacity: 0.6;
      }

h1 {
  padding-left: 15px;
}

.quote {
  text-align: center;
  height: 18vh;
  font-size: 30px;

}

.tuna {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 1s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat;
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
  float: right;
  /*display: none;*/
  opacity: 0;
}
.tuna:hover {
    opacity: 1;
}


@keyframes walk-cycle {
  0% {background-position: 0 0; }
  100% {background-position: 0 -2391px; } /* Must be full height of sprite or skipping will happen.*/
}

p {text-align: center;}
