/*
  background-image: url("https://unsplash.com/search/photos/hiking?photo=j2KI6FTc3jA");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 100vh;
}*/

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.headerContainer {
  background-color: #69a041;
  height: 15%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}
li {
  font-size: 35px;
  color: #ffffff;
  /*align-self: center;*/

}
ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  /*align-self: center;*/
}



body {
  background: url(tobias-cornille-142864.jpg) no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}


#map {
       height: 400px;
       width: 100%;

      }

button {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #69a041;
  font-size: 38px;
  padding: 10px 21px 10px 21px;
  border: solid #f2b722 0px;
  text-decoration: none;
}

button:hover {
opacity: 0.6;
      }
